<div class="container">
    <h1>DJs</h1>

    <% @users.each do |user| %>
        <div class="user">
            <% if user.images.size > 0 %>
                <%= link_to image_tag(user.images.first.image_upload.thumb.url), user %>
                <% end %> 
            <p><%= user.name %></p>
            <p><%= user.rating %></p>
            <%= link_to 'Edit', edit_user_path(user) %>
            <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div> 
            <% end %>
</div>
