<div class="container">

  <p id="notice"><%= notice %></p>

    <% if @user.images.size > 0 %>
    <%= image_tag @user.images.first.image_upload.avatar.url %>
    <% end %>

    <h1><%= @user.name %></h1>

    <h4><p>Tracks</p>
    <% @user.musics.each do |music| %>
    <%= link_to music.name, music%><% end %></li> </h4>


    <h4>Description:</h4>
    <%= @user.description %>


    <h4>Genre:</h4>
    <%= @user.genre %>


    <h4>Location:</h4>
    <%= @user.location %>


    <h4>Rating:</h4>
    <%= @user.rating %>


  <div id="demo-1" class="demobox">
  <% if @user and @user.images.size > 0 %>
    <% @user.images[1..-1].each do |image| %>
      <%= image_tag image.image_upload.details.url %>
    <% end %>
  <% end %>
  </div>

  <!-- <li>Tracks: <% @user.musics.each do |music| %>
  <audio controls>
    <source src="<%= music.music_upload %>" type="audio/ogg">
    <source src="<%= music.music_upload %>" type="audio/mpeg">
  <% end %></li>
   -->

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>

</div>
