<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Description:</b>
  <%= @user.description %>
</p>

<p>
  <b>Genre:</b>
  <%= @user.genre %>
</p>

<p>
  <b>Location:</b>
  <%= @user.location %>
</p>

<p>
  <b>Rating:</b>
  <%= @user.rating %>
</p>


<p>
  <% if @user.images.size > 0 %>
  Avatar
  <%= image_tag @user.images.first.image_upload.avatar.url %>
  <% end %>
</p>

<div id="demo-1" class="demobox">
<% if @user and @user.images.size > 0 %>
  <% @user.images[1..-1].each do |image| %>
    <%= image_tag image.image_upload.details.url %>
  <% end %>
<% end %>
</div>

<li>Tracks: <% @user.musics.each do |music| %>
<%= link_to music.name, music%><% end %></li>

<!-- <li>Tracks: <% @user.musics.each do |music| %>
<audio controls>
  <source src="<%= music.music_upload %>" type="audio/ogg">
  <source src="<%= music.music_upload %>" type="audio/mpeg">
<% end %></li>
 -->

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
