<div class="container">
  <h1>Tracks</h1>

  <% @musics.each do |music| %>
    <div class="usermusic">
        <% if music.image_upload.details.url %> <ul class="tunes">
          <div class="record_animation">
            <div class="album">
               <%= image_tag music.image_upload.thumb.url %> 
              <span class="vinyl">
                <div></div>
              </span>
              <ul class="actions">
                <li class="play-pause"><a href="<%= music.music_upload %>"></a></li>
                <li class="info"><%= link_to '', music %></li>
              </ul>
              <span class="gloss"></span>
            </div>
          </div>
        </ul> 
        <% end %>
        <p><%= music.user.name %></p>
        <p><%= music.name %></p>
        <p><%= music.genre %></p>
        <p><%= music.rating %></p>
        <p><%= link_to 'Edit', edit_music_path(music) %></p>
        <p><%= link_to 'Destroy', music, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>    
  <% end %>

  <div class="btn2">
  <%= link_to image_tag('upload.png'), new_music_path%>
  </div>
</div>
