<!DOCTYPE html>
<html>
<head>
  <title>Musicatestdb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/">Musica</a>
      	<ul class="nav">
        	<li><%= link_to('DJs', users_path) %></li>
        	<li><%= link_to('Music', musics_path)%></li>
          <li><%= link_to('Comments', comments_path)%></li>
      	</ul>
          <% if current_user %>
            hello, <%= current_user.email %>
            <%= link_to 'logout', session_path(session), method: :delete, data:{confirm: 'Are you sure?'}%>
          <% else %> 
            <%= render 'sessions/new' %>
          <% end %>
    </div>
  </div>


  <% flash.each do |name, message| %>
  <div class="flash-message flash-message-<%= name %>">
  <%= message %>
  </div>
  <% end %>

<%= yield %>

</body>
</html>
